index

<div class="bg-black p-2 fixed pin-b pin-l text-white">
  {{link-to 'design' 'design' classNames="text-white"}}
  {{link-to 'play' 'game' classNames="p-2 text-white"}}
  {{link-to 'demo' 'demo' classNames="p-2 text-white"}}
</div>