
<table 
  class="w-full picture"
>
  {{#each (chunk 10 @picture.cells) as |row|}}
    <tr>
      {{#each row as |cell|}}
        <td class="border border-gray-darkest cell w-1/10 {{concat 'bg-' cell.color }}">
          
        </td>
      {{/each}}
    </tr>
  {{/each}}
</table>