<div class="conatinder">
  <div class="pin fiexed flex-col p-2">
    <div class="flex flex-shink min-h-16">
      <div class="flex-1 flex bg-black text-white">
        left
      </div>
      <div class="flex-1 p-4 flex bg-pink">
        <ColorPicker @color={{color}} @onChange={{action (mut color)}} />
      </div>
    </div>
    <div class="flex m-4 bg-gray-lighter">
      <div class="flex flex-1 border-r-2 border-gray-dark border-dashed p-8">
        <PictureGrid />
      </div>
      <div class="flex flex-1 p-4 border-gray-dark border-dashed">
        <PictureGrid />
      </div>
    </div>
  </div>
</div>
{{outlet}}